# Feature Scaling

### 1. Min Max Scaling

In [5]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

# Sample Data
data = {'value': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)
df

   value
0     10
1     20
2     30
3     40
4     50

In [6]:
# Min-Max Scalling
scaler = MinMaxScaler()
df['scaled_Value'] = scaler.fit_transform(df[['value']])
df

   value  scaled_Value
0     10          0.00
1     20          0.25
2     30          0.50
3     40          0.75
4     50          1.00

### 2. Standardization (Z-score scaling)

In [8]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

# Sample Data
data = {'value': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)
df

   value
0     10
1     20
2     30
3     40
4     50

In [10]:
# Standardization Scalling
scaler = StandardScaler()
df['scaled_Value'] = scaler.fit_transform(df[['value']])
df

   value  scaled_Value
0     10     -1.414214
1     20     -0.707107
2     30      0.000000
3     40      0.707107
4     50      1.414214

### 3. Robust Scaler

In [11]:
import pandas as pd
from sklearn.preprocessing import RobustScaler

# Sample Data
data = {'value': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)
df
# RobustSCaler Scalling
scaler = RobustScaler()
df['scaled_Value'] = scaler.fit_transform(df[['value']])
df

   value  scaled_Value
0     10          -1.0
1     20          -0.5
2     30           0.0
3     40           0.5
4     50           1.0

### 4. Logarithmic Scaling (Log Transform)

In [14]:
import numpy as np
import pandas as pd

# Random data
data = {'value': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)
# apply function
df['scaled_Value'] = np.log(df[['value']])
df['scaled_Value2'] = np.log2(df[['value']])
df['scaled_Value10'] = np.log10(df[['value']])

df

   value  scaled_Value  scaled_Value2  scaled_Value10
0     10      2.302585       3.321928        1.000000
1     20      2.995732       4.321928        1.301030
2     30      3.401197       4.906891        1.477121
3     40      3.688879       5.321928        1.602060
4     50      3.912023       5.643856        1.698970